/* GLOBAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9dcd6;
}

/* HEADER/NAV STYLING */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  font-size: 48px;
}

.seo {
  color: #d9dcd6;
}

.links {
  list-style: none;
  font-size: 20px;
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
}

.links li a {
  transition: all 0.3 ease 0s;
  text-decoration: none;
  color: #ffffff;
}

.links li a:hover {
  color: rgb(217, 220, 214);
}

/* HERO STYLING */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* MAIN CONTENT */
.wrapper {
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.content {
  background-color: #d9dcd6;
  padding: 20px;
  flex: 2;
}

.benefits {
  flex: 1;
  padding: 20px;
  margin: 20px 20px 32px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  color: #ffffff;
  width: 25%;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* BENEFITS STYLING START */
.benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.results {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

/* CONTENT STYLING */

.services {
  margin-bottom: 20px;
  padding: 50px;
  min-height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.services img {
  max-height: 200px;
}

.services h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* FOOTER STYLING */
/* .footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
} */
